<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Your head content here -->
  </head>
  <body>
    <h1>Your Cart</h1>

    {% if cart_items %}
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cart_item in cart_items %}
        <tr>
          <td>{{ cart_item.product.product_name }}</td>
          <td>${{ cart_item.product.price }}</td>
          <td>{{ cart_item.quantity }}</td>
          <td>
            ${{
            cart_item.product.price|floatformat:2|mul:cart_item.quantity|floatformat:2
            }}
          </td>
          <td>
            <a href="{% url 'remove_from_cart' cart_item.id %}">Remove</a>
            <a href="{% url 'reduce_quantity' cart_item.id %}"
              >Reduce Quantity</a
            >
            <a href="{% url 'increase_quantity' cart_item.id %}"
              >Increase Quantity</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>Grand Total Cart Price: ${{ grand_total_cart_price|floatformat:2 }}</p>

    <!-- Add the checkout button here -->
    <form action="{% url 'checkout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Checkout</button>
    </form>

    <!-- Change the Clear Cart link to a button -->
    <form action="{% url 'clear_cart' %}" method="post">
      {% csrf_token %}
      <button type="submit">Clear Cart</button>
    </form>

    {% else %}
    <p>Your cart is empty. Proceed to homepage.</p>
    <a href="{% url 'index' %}">Home</a>
    {% endif %}

    <form action="{% url 'catProducts' %}" method="post">
      {% csrf_token %}
      <button type="submit">Back to Products Page</button>
    </form>
  </body>
</html>
