#button-id-145- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
  left: 134px;
  top: 977px;
}

#button-id-145-:active,
#button-id-145-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-145-:hover,
#button-id-145-.hover {
  color: rgb(255, 255, 255);
}

#button-id-150- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-150-:active,
#button-id-150-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-150-:hover,
#button-id-150-.hover {
  color: rgb(255, 255, 255);
}

#button-id-152- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-152-:active,
#button-id-152-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-152-:hover,
#button-id-152-.hover {
  color: rgb(255, 255, 255);
}

#button-id-154- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-154-:active,
#button-id-154-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-154-:hover,
#button-id-154-.hover {
  color: rgb(255, 255, 255);
}

#button-id-159- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-159-:active,
#button-id-159-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-159-:hover,
#button-id-159-.hover {
  color: rgb(255, 255, 255);
}

#button-id-161- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-161-:active,
#button-id-161-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-161-:hover,
#button-id-161-.hover {
  color: rgb(255, 255, 255);
}

#button-id-41- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-41-:active,
#button-id-41-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-41-:hover,
#button-id-41-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-43- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-43-:active,
#button-id-43-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-43-:hover,
#button-id-43-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-45- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-45-:active,
#button-id-45-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-45-:hover,
#button-id-45-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-47- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-47-:active,
#button-id-47-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-47-:hover,
#button-id-47-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-49- {
  margin: unset;
  color: rgb(255, 255, 255);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  min-height: 16px;
  width: auto;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0px;
  line-height: 16px;
  font-size: 16px;
  border-radius: 100px;
  padding: 15px 28px;
}

#button-id-49-:active,
#button-id-49-.active {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 32, 32) !important;
}

#button-id-49-:hover,
#button-id-49-.hover {
  color: rgb(255, 255, 255);
  background-color: rgba(35, 35, 35, 0.8);
}

#container-id-140- {
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0);
  padding: 130px 80px;
  flex-direction: column;
}

#container-id-140- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 64px !important;
}

#container-id-140- > :last-child,
#container-id-140- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-141- {
  margin: unset;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
  min-height: auto;
  left: 0px;
  top: 988px;
  flex-direction: row;
}

#container-id-141- > * {
  max-width: 100%;
}

#container-id-142- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: 120px;
  min-height: auto;
  flex-direction: column;
}

#container-id-142- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 24px !important;
}

#container-id-142- > :last-child,
#container-id-142- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-144- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  left: 0px;
  top: 908px;
  flex-direction: column;
}

#container-id-144- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 16px !important;
}

#container-id-144- > :last-child,
#container-id-144- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-147- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: 120px;
  min-height: auto;
  left: 413px;
  top: 1247px;
  flex-direction: column;
}

#container-id-147- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 24px !important;
}

#container-id-147- > :last-child,
#container-id-147- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-149- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: unset;
  min-height: auto;
  left: 0px;
  top: 908px;
  flex-direction: column;
}

#container-id-149- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 16px !important;
}

#container-id-149- > :last-child,
#container-id-149- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-156- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: 120px;
  min-height: auto;
  flex-direction: column;
}

#container-id-156- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 24px !important;
}

#container-id-156- > :last-child,
#container-id-156- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-158- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: unset;
  min-height: auto;
  left: 0px;
  top: 908px;
  flex-direction: column;
}

#container-id-158- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 16px !important;
}

#container-id-158- > :last-child,
#container-id-158- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-37- {
  align-items: center;
  padding: 0px 80px;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
}

#container-id-37- > * {
  max-width: 100%;
  margin-right: 48px !important;
  margin-bottom: 0px !important;
}

#container-id-37- > :last-child,
#container-id-37- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-40- {
  min-height: 34px;
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: center;
  justify-content: flex-end;
  width: auto;
  flex-direction: row;
}

#container-id-40- > * {
  max-width: 100%;
  margin-right: 48px !important;
  margin-bottom: 0px !important;
}

#container-id-40- > :last-child,
#container-id-40- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-55- {
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 80px;
  flex-direction: row;
}

#container-id-55- > * {
  max-width: 100%;
  margin-right: 40px !important;
  margin-bottom: 0px !important;
}

#container-id-55- > :last-child,
#container-id-55- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-56- {
  margin: unset;
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  left: 119px;
  top: 675px;
  flex-direction: column;
  width: 691px;
}

#container-id-56- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 18px !important;
}

#container-id-56- > :last-child,
#container-id-56- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-69- {
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 80px;
  flex-direction: row;
}

#container-id-69- > * {
  max-width: 100%;
  margin-right: 40px !important;
  margin-bottom: 0px !important;
}

#container-id-69- > :last-child,
#container-id-69- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-70- {
  margin: unset;
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  left: 119px;
  top: 675px;
  flex-direction: column;
  width: 691px;
}

#container-id-70- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 18px !important;
}

#container-id-70- > :last-child,
#container-id-70- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-76- {
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 80px;
  flex-direction: row;
}

#container-id-76- > * {
  max-width: 100%;
  margin-right: 40px !important;
  margin-bottom: 0px !important;
}

#container-id-76- > :last-child,
#container-id-76- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-77- {
  margin: unset;
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  left: 119px;
  top: 675px;
  flex-direction: column;
  width: 691px;
}

#container-id-77- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 18px !important;
}

#container-id-77- > :last-child,
#container-id-77- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-83- {
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  padding: 80px;
  flex-direction: row;
}

#container-id-83- > * {
  max-width: 100%;
  margin-right: 40px !important;
  margin-bottom: 0px !important;
}

#container-id-83- > :last-child,
#container-id-83- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-84- {
  margin: unset;
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  left: 119px;
  top: 675px;
  flex-direction: column;
  width: 691px;
}

#container-id-84- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 18px !important;
}

#container-id-84- > :last-child,
#container-id-84- > .last-child {
  margin-bottom: 0px !important;
}

#content-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#content-container > * {
  max-width: 100%;
  margin-right: 0px !important;
}

#content-container > :last-child,
#content-container > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#element-id-39- {
  width: 100%;
}

#element-id-60- {
  width: 100%;
}

#element-id-74- {
  width: 100%;
}

#element-id-81- {
  width: 100%;
}

#element-id-88- {
  width: 100%;
}

#image-id-38- {
  margin: unset;
  top: -50px;
  background-color: rgba(221, 221, 221, 0);
  width: 129.6px;
  min-height: auto;
}

#image-id-59- {
  margin: unset;
  background-color: rgba(221, 221, 221, 0);
  left: 876px;
  top: 912px;
  width: 184.5px;
  min-height: auto;
  border-radius: 150px;
}

#image-id-73- {
  margin: unset;
  background-color: rgba(221, 221, 221, 0);
  left: 876px;
  top: 912px;
  width: 184.5px;
  min-height: auto;
  border-style: none;
  border-width: 1px;
  border-radius: 150px;
}

#image-id-80- {
  margin: unset;
  background-color: rgba(221, 221, 221, 0);
  left: 876px;
  top: 912px;
  width: 184.5px;
  min-height: auto;
  border-radius: 150px;
}

#image-id-87- {
  margin: unset;
  background-color: rgba(221, 221, 221, 0);
  left: 876px;
  top: 912px;
  width: 184.5px;
  min-height: auto;
  border-width: 1px;
  border-style: none;
  border-radius: 150px;
}

#menu-id-51- {
  margin: unset;
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 88px;
}

#menu-id-51- > * {
  max-width: 1320px;
}

#root-container {
  background-position: center center;
}

#section-id-164- {
  margin: unset;
  min-height: 280px;
  background-color: rgb(24, 24, 24);
  width: 100%;
}

#section-id-164- > * {
  max-width: 1320px;
}

#section-id-61- {
  margin: unset;
  min-height: auto;
  background-color: rgb(248, 248, 248);
  width: 100%;
}

#section-id-61- > * {
  max-width: 1320px;
}

#section-id-75- {
  margin: unset;
  min-height: auto;
  background-color: rgb(248, 248, 248);
  width: 100%;
}

#section-id-75- > * {
  max-width: 1320px;
}

#section-id-82- {
  margin: unset;
  min-height: auto;
  background-color: rgb(248, 248, 248);
  width: 100%;
}

#section-id-82- > * {
  max-width: 1320px;
}

#section-id-89- {
  margin: unset;
  min-height: auto;
  background-color: rgb(248, 248, 248);
  width: 100%;
}

#section-id-89- > * {
  max-width: 1320px;
}

#text-id-143- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 165px;
  top: 880px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
}

#text-id-148- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 165px;
  top: 880px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
}

#text-id-157- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 165px;
  top: 880px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
}

#text-id-163- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
  letter-spacing: 0px;
  line-height: 15.75px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

#text-id-57- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  width: 485px;
}

#text-id-58- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
}

#text-id-71- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  width: 485px;
}

#text-id-72- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
}

#text-id-78- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  width: 485px;
}

#text-id-79- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
}

#text-id-85- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  width: 485px;
}

#text-id-86- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
}

#root-container {
  background-image: linear-gradient(
    90deg,
    rgb(68, 228, 218) 13%,
    rgb(247, 156, 156) 82%
  );
}

@media (min-width: 1025px) {
  #container-id-40- {
    min-height: 42px;
  }

  #container-id-55- > * {
    flex-grow: 1;
  }

  #container-id-56- {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  #container-id-69- > * {
    flex-grow: 1;
  }

  #container-id-70- {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  #container-id-76- > * {
    flex-grow: 1;
  }

  #container-id-77- {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  #container-id-83- > * {
    flex-grow: 1;
  }

  #container-id-84- {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
  }

  #content-container {
    display: flex;
  }

  #section-id-61- {
    min-height: 340px;
  }

  #section-id-75- {
    min-height: 340px;
  }

  #section-id-82- {
    min-height: 340px;
  }

  #section-id-89- {
    min-height: 340px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  #button-id-49- {
    padding: 16px 30px;
  }

  #container-id-140- {
    padding: 80px 56px;
    flex-direction: column;
  }

  #container-id-140- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 56px !important;
  }

  #container-id-140- > :last-child,
  #container-id-140- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-141- {
    flex-direction: row;
  }

  #container-id-141- > * {
    max-width: 100%;
  }

  #container-id-142- {
    flex-direction: column;
  }

  #container-id-142- > * {
    max-width: 100%;
  }

  #container-id-144- {
    flex-direction: column;
  }

  #container-id-144- > * {
    max-width: 100%;
  }

  #container-id-147- {
    flex-direction: column;
  }

  #container-id-147- > * {
    max-width: 100%;
  }

  #container-id-149- {
    flex-direction: column;
  }

  #container-id-149- > * {
    max-width: 100%;
  }

  #container-id-156- {
    flex-direction: column;
  }

  #container-id-156- > * {
    max-width: 100%;
  }

  #container-id-158- {
    flex-direction: column;
  }

  #container-id-158- > * {
    max-width: 100%;
  }

  #container-id-37- {
    padding: 0px 56px;
    flex-direction: row;
  }

  #container-id-37- > * {
    max-width: 100%;
  }

  #container-id-40- {
    width: auto;
    flex-direction: row;
  }

  #container-id-40- > * {
    max-width: 100%;
    margin-right: 40px !important;
    margin-bottom: 0px !important;
  }

  #container-id-40- > :last-child,
  #container-id-40- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-55- {
    padding: 48px 56px;
    flex-direction: row;
  }

  #container-id-55- > * {
    flex-grow: 1;
    max-width: 100%;
  }

  #container-id-56- {
    width: 160px;
    flex-direction: column;
  }

  #container-id-56- > * {
    max-width: 100%;
  }

  #container-id-69- {
    padding: 48px 56px;
    flex-direction: row;
  }

  #container-id-69- > * {
    flex-grow: 1;
    max-width: 100%;
  }

  #container-id-70- {
    width: 160px;
    flex-direction: column;
  }

  #container-id-70- > * {
    max-width: 100%;
  }

  #container-id-76- {
    padding: 48px 56px;
    flex-direction: row;
  }

  #container-id-76- > * {
    flex-grow: 1;
    max-width: 100%;
  }

  #container-id-77- {
    width: 160px;
    flex-direction: column;
  }

  #container-id-77- > * {
    max-width: 100%;
  }

  #container-id-83- {
    padding: 48px 56px;
    flex-direction: row;
  }

  #container-id-83- > * {
    flex-grow: 1;
    max-width: 100%;
  }

  #container-id-84- {
    width: 160px;
    flex-direction: column;
  }

  #container-id-84- > * {
    max-width: 100%;
  }

  #content-container {
    display: flex;
    flex-direction: column;
  }

  #content-container > * {
    max-width: 100%;
  }

  #image-id-59- {
    border-radius: 150px;
  }

  #image-id-73- {
    border-radius: 150px;
  }

  #image-id-80- {
    border-radius: 150px;
  }

  #image-id-87- {
    border-radius: 150px;
  }

  #text-id-57- {
    text-align: left;
    width: 288px;
    letter-spacing: -0.4px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
  }

  #text-id-58- {
    line-height: 26px;
  }

  #text-id-71- {
    text-align: left;
    width: 288px;
    letter-spacing: -0.4px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
  }

  #text-id-72- {
    line-height: 26px;
  }

  #text-id-78- {
    text-align: left;
    width: 288px;
    letter-spacing: -0.4px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
  }

  #text-id-79- {
    line-height: 26px;
  }

  #text-id-85- {
    text-align: left;
    width: 288px;
    letter-spacing: -0.4px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
  }

  #text-id-86- {
    line-height: 26px;
  }
}

@media (max-width: 640px) {
  #button-id-41- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-43- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-45- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-47- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-49- {
    min-height: 16px;
    letter-spacing: 0px;
    line-height: 15px;
    font-size: 15px;
    padding: 16px 30px;
  }

  #container-id-140- {
    align-items: center;
    padding: 80px 24px;
    flex-direction: column;
  }

  #container-id-140- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 56px !important;
  }

  #container-id-140- > :last-child,
  #container-id-140- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-141- {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #container-id-141- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 48px !important;
  }

  #container-id-141- > :last-child,
  #container-id-141- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-142- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-142- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
  }

  #container-id-142- > :last-child,
  #container-id-142- > .last-child {
    margin-right: 0px !important;
  }

  #container-id-144- {
    align-items: center;
    min-height: auto;
    flex-direction: column;
  }

  #container-id-144- > * {
    max-width: 100%;
  }

  #container-id-147- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-147- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
  }

  #container-id-147- > :last-child,
  #container-id-147- > .last-child {
    margin-right: 0px !important;
  }

  #container-id-149- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-149- > * {
    max-width: 100%;
  }

  #container-id-156- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-156- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
  }

  #container-id-156- > :last-child,
  #container-id-156- > .last-child {
    margin-right: 0px !important;
  }

  #container-id-158- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-158- > * {
    max-width: 100%;
  }

  #container-id-37- {
    padding: 0px 28px;
    flex-direction: row;
  }

  #container-id-37- > * {
    max-width: 100%;
    margin-right: 28px !important;
    margin-bottom: 0px !important;
  }

  #container-id-37- > :last-child,
  #container-id-37- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-40- {
    width: auto;
    flex-direction: row;
  }

  #container-id-40- > * {
    max-width: 100%;
  }

  #container-id-55- {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 28px;
    flex-direction: column;
  }

  #container-id-55- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }

  #container-id-55- > :last-child,
  #container-id-55- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-56- {
    width: 100%;
    justify-content: center;
    min-height: auto;
    left: 0px;
    flex-direction: column;
  }

  #container-id-56- > * {
    max-width: 100%;
  }

  #container-id-69- {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 28px;
    flex-direction: column;
  }

  #container-id-69- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }

  #container-id-69- > :last-child,
  #container-id-69- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-70- {
    width: 100%;
    justify-content: center;
    min-height: auto;
    left: 0px;
    flex-direction: column;
  }

  #container-id-70- > * {
    max-width: 100%;
  }

  #container-id-76- {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 28px;
    flex-direction: column;
  }

  #container-id-76- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }

  #container-id-76- > :last-child,
  #container-id-76- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-77- {
    width: 100%;
    justify-content: center;
    min-height: auto;
    left: 0px;
    flex-direction: column;
  }

  #container-id-77- > * {
    max-width: 100%;
  }

  #container-id-83- {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 28px;
    flex-direction: column;
  }

  #container-id-83- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }

  #container-id-83- > :last-child,
  #container-id-83- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-84- {
    width: 100%;
    justify-content: center;
    min-height: auto;
    left: 0px;
    flex-direction: column;
  }

  #container-id-84- > * {
    max-width: 100%;
  }

  #content-container {
    display: flex;
    flex-direction: column;
  }

  #content-container > * {
    max-width: 100%;
  }

  #image-id-59- {
    width: 100%;
    left: 0px;
    border-radius: 150px;
  }

  #image-id-73- {
    width: 100%;
    left: 0px;
    border-radius: 150px;
  }

  #image-id-80- {
    width: 100%;
    left: 0px;
    border-radius: 150px;
  }

  #image-id-87- {
    width: 100%;
    left: 0px;
    border-radius: 150px;
  }

  #text-id-163- {
    letter-spacing: 0px;
    line-height: 15.75px;
    font-size: 14px;
  }

  #text-id-57- {
    width: 228px;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 38px;
  }

  #text-id-58- {
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.225px;
    font-size: 18px;
    line-height: 28px;
  }

  #text-id-71- {
    width: 228px;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 38px;
  }

  #text-id-72- {
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.225px;
    font-size: 18px;
    line-height: 28px;
  }

  #text-id-78- {
    width: 228px;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 38px;
  }

  #text-id-79- {
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.225px;
    font-size: 18px;
    line-height: 28px;
  }

  #text-id-85- {
    width: 228px;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 38px;
  }

  #text-id-86- {
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.225px;
    font-size: 18px;
    line-height: 28px;
  }
}

body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 45%;
  border: none;
  border-radius: 0%;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}




.catprofile-img{
  text-align: center;
}
.catprofile-img img{
  width: 70%;
  height: 100%;
}
.catprofile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.catprofile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}


.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}




















body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}