body {
  background-color: rgb(112, 112, 120);
  background-image: url(-project-image-2.jpeg);
  background-size: cover;
  padding: 70px;
}
.container {
  color: rgb(0, 0, 0);
  text-align: center;
}
