{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://firebasestorage.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'index-elements.css' %}" />
    <link rel="stylesheet" href="{% static 'index-style.css' %}" />
  </head>
  <body id="root-container" style="margin: 0">
    {% block content %} {% if user.is_authenticated %} Hi {{ user.username }}!
    {% else %}
    <h1>Login Unsuccessful</h1>
    {% endif %} {% endblock %}
    <div
      data-element-behavior="menu"
      id="menu-id-0-"
      data-element-type="section"
    >
      <div id="container-id-6-" data-element-type="container">
        <a
          id="image-id-5-"
          data-element-type="image"
          class="clickable"
          href="{% url 'index' %}"
          ><img id="element-id-10-" src="{% static '-project-image-4.png' %}"
        /></a>

        <div id="container-id-4-" data-element-type="container">
          <a
            id="button-id-4-"
            data-element-type="button"
            href="{% url 'aCatProfile' %}"
            ><span id="element-id-3-">Catto Profile</span></a
          >
          <a
            id="button-id-4-"
            data-element-type="button"
            href="{% url 'view_cart' %}"
            ><span id="element-id-3-">Cat Diagnosis</span></a
          >
          <a
            id="button-id-9-"
            data-element-type="button"
            href="{% url 'vetPoint' %}"
            ><span id="element-id-8-">Vet Point</span></a
          >
          <a
          id="button-id-9-"
          data-element-type="button"
          href="{% url 'catProducts' %}"
          ><span id="element-id-8-">Products</span></a
          >
          <a
          id="button-id-9-"
          data-element-type="button"
          href="{% url 'view_cart' %}"
          ><span id="element-id-8-">Cart</span></a
          >

          <a
            id="button-id-20-"
            data-element-type="button"
            href="{% url 'aboutUs' %}"
            ><span id="element-id-19-">About Us</span></a
          >

          <!-- logout button -->
          <a id="button-id-10-" data-element-type="button" href="/signout"
            ><span id="element-id-9-">Log out</span></a
          >
        </div>
      </div>
    </div>
    <div id="content-container">
      <div
        id="section-id-7-"
        data-element-type="section"
        spellcheck="false"
        contenteditable="false"
      >
        <div id="container-id-8-" data-element-type="container">
          <div id="container-id-0-" data-element-type="container">
            <div id="container-id-3-" data-element-type="container">
              <p id="text-id-9-" data-element-type="text">
                Cat related problems?
              </p>
              <p id="text-id-10-" data-element-type="text">
                One stop solution on a click of a button!
              </p>
            </div>
            <a
              id="button-id-2-"
              data-element-type="button"
              href="https://twitter.com/?lang=en"
              ><span id="element-id-2-">Learn more</span></a
            >
          </div>
          <a id="image-id-0-" data-element-type="image"
            ><img id="element-id-1-" src="{% static '-project-image-2.jpeg' %}"
          /></a>
        </div>
      </div>
      <div id="section-id-34-" data-element-type="section">
        <div id="container-id-22-" data-element-type="container">
          <div id="container-id-9-" data-element-type="container">
            <p id="text-id-49-" data-element-type="text">
              Taking care of cats shouldn't be hard.
            </p>
            <p id="text-id-13-" data-element-type="text">
              We built BilaiBD to make it easy, finally.
            </p>
          </div>
          <div id="section-id-18-" data-element-type="section">
            <div id="container-id-13-" data-element-type="container"></div>
          </div>
        </div>
      </div>
      <div id="section-id-19-" data-element-type="section">
        <div id="container-id-20-" data-element-type="container">
          <div id="container-id-1-" data-element-type="container">
            <p id="text-id-2-" data-element-type="text">Catto Profile</p>
            <p id="text-id-4-" data-element-type="text">
              Store all info about your cat(s)in one place.
            </p>
          </div>
          <a id="image-id-1-" data-element-type="image"
            ><img id="element-id-4-" src="{% static '-project-image-7.png' %}"
          /></a>
        </div>
      </div>
      <div id="section-id-78-" data-element-type="section">
        <div id="container-id-75-" data-element-type="container">
          <div id="container-id-76-" data-element-type="container">
            <p id="text-id-6-" data-element-type="text">Cat Diagnosis</p>
            <p id="text-id-24-" data-element-type="text">
              Find out what your cat is suffering from.
            </p>
          </div>
          <a id="image-id-2-" data-element-type="image"
            ><img id="element-id-5-" src="{% static '-project-image-11.png' %}"
          /></a>
        </div>
      </div>
      <div id="section-id-20-" data-element-type="section">
        <div id="container-id-16-" data-element-type="container">
          <div id="container-id-17-" data-element-type="container">
            <p id="text-id-8-" data-element-type="text">Vet Point</p>
            <p id="text-id-26-" data-element-type="text">
              Get info about vets and book appointments.
            </p>
          </div>
          <a id="image-id-3-" data-element-type="image"
            ><img id="element-id-7-" src="{% static '-project-image-12.png' %}"
          /></a>
        </div>
      </div>
      <div id="section-id-10-" data-element-type="section">
        <div id="container-id-11-" data-element-type="container">
          <div id="container-id-68-" data-element-type="container">
            <div id="container-id-35-" data-element-type="container">
              <p id="text-id-29-" data-element-type="text">BilaiBD</p>
              <div id="container-id-30-" data-element-type="container">
                <a
                  id="button-id-31-"
                  data-element-type="button"
                  href="https://twitter.com/?lang=en"
                  ><span id="element-id-32-">index</span></a
                >
              </div>
            </div>
            <div id="container-id-12-" data-element-type="container">
              <p id="text-id-16-" data-element-type="text">Features</p>
              <div id="container-id-15-" data-element-type="container">
                <a
                  id="button-id-38-"
                  data-element-type="button"
                  href="https://twitter.com/?lang=en"
                  ><span id="element-id-37-">Cat Profile</span></a
                ><a
                  id="button-id-16-"
                  data-element-type="button"
                  href="https://twitter.com/?lang=en"
                  ><span id="element-id-15-">Cat Diagnosis</span></a
                ><a
                  id="button-id-14-"
                  data-element-type="button"
                  href="https://twitter.com/?lang=en"
                  ><span id="element-id-13-">Vet Point</span></a
                >
              </div>
            </div>
            <div id="container-id-53-" data-element-type="container">
              <p id="text-id-47-" data-element-type="text">Contact</p>
              <div id="container-id-48-" data-element-type="container">
                <a id="button-id-44-" data-element-type="button" href="mailto:"
                  ><span id="element-id-43-">Email</span></a
                ><a
                  id="button-id-48-"
                  data-element-type="button"
                  href="https://twitter.com/?lang=en"
                  ><span id="element-id-47-">Facebook</span></a
                >
              </div>
            </div>
          </div>
          <p id="text-id-70-" data-element-type="text">
            © 2023 BilaiBD, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
