#button-id-10- { margin: unset; color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; min-height: 16px; width: auto; background-color: rgb(35, 35, 35); letter-spacing: 0px; line-height: 16px; font-size: 16px; border-radius: 100px; padding: 15px 28px; }

#button-id-10-:active, #button-id-10-.active { color: rgb(255, 255, 255); background-color: rgb(32, 32, 32) !important; }

#button-id-10-:hover, #button-id-10-.hover { color: rgb(255, 255, 255); background-color: rgba(35, 35, 35, 0.8); }

#button-id-14- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-14-:active, #button-id-14-.active { color: rgb(255, 255, 255) !important; }

#button-id-14-:hover, #button-id-14-.hover { color: rgb(255, 255, 255); }

#button-id-16- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-16-:active, #button-id-16-.active { color: rgb(255, 255, 255) !important; }

#button-id-16-:hover, #button-id-16-.hover { color: rgb(255, 255, 255); }

#button-id-2- { margin: unset; color: rgb(255, 255, 255); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; min-height: 16px; width: auto; background-color: rgb(35, 35, 35); letter-spacing: 0px; line-height: 16px; font-size: 16px; padding: 16px 28px; border-radius: 100px; }

#button-id-2-:active, #button-id-2-.active { color: rgb(255, 255, 255); background-color: rgb(32, 32, 32) !important; }

#button-id-2-:hover, #button-id-2-.hover { color: rgb(255, 255, 255); background-color: rgba(35, 35, 35, 0.8); }

#button-id-31- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); left: 134px; top: 977px; }

#button-id-31-:active, #button-id-31-.active { color: rgb(255, 255, 255) !important; }

#button-id-31-:hover, #button-id-31-.hover { color: rgb(255, 255, 255); }

#button-id-38- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-38-:active, #button-id-38-.active { color: rgb(255, 255, 255) !important; }

#button-id-38-:hover, #button-id-38-.hover { color: rgb(255, 255, 255); }

#button-id-4- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(18, 18, 18); font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; }

#button-id-4-:active, #button-id-4-.active { color: rgb(18, 18, 18) !important; }

#button-id-4-:hover, #button-id-4-.hover { color: rgba(18, 18, 18, 0.7); }

#button-id-44- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-44-:active, #button-id-44-.active { color: rgb(255, 255, 255) !important; }

#button-id-44-:hover, #button-id-44-.hover { color: rgb(255, 255, 255); }

#button-id-48- { margin: unset; font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-weight: 500; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); }

#button-id-48-:active, #button-id-48-.active { color: rgb(255, 255, 255) !important; }

#button-id-48-:hover, #button-id-48-.hover { color: rgb(255, 255, 255); }

#button-id-7- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(18, 18, 18); font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; }

#button-id-7-:active, #button-id-7-.active { color: rgb(18, 18, 18) !important; }

#button-id-7-:hover, #button-id-7-.hover { color: rgba(18, 18, 18, 0.7); }

#button-id-9- { min-height: 18px; margin: unset; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(18, 18, 18); font-weight: 600; font-style: normal; padding: 8px 0px; line-height: 16px; font-size: 16px; letter-spacing: -0.4px; }

#button-id-9-:active, #button-id-9-.active { color: rgb(18, 18, 18) !important; }

#button-id-9-:hover, #button-id-9-.hover { color: rgba(18, 18, 18, 0.7); }

#container-id-0- { margin: unset; background-color: rgba(238, 238, 238, 0); justify-content: center; min-height: auto; align-items: flex-start; width: 540px; left: 0px; flex-direction: column; }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 22px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-1- { margin: unset; background-color: rgba(255, 255, 255, 0); align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 0px; width: 360px; left: 119px; top: 675px; flex-direction: column; }

#container-id-1- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 18px !important; }

#container-id-1- > :last-child, #container-id-1- > .last-child { margin-bottom: 0px !important; }

#container-id-11- { align-items: flex-start; justify-content: flex-start; background-color: rgba(0, 0, 0, 0); padding: 130px 80px; flex-direction: column; }

#container-id-11- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 64px !important; }

#container-id-11- > :last-child, #container-id-11- > .last-child { margin-bottom: 0px !important; }

#container-id-12- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; left: 413px; top: 1247px; flex-direction: column; }

#container-id-12- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-12- > :last-child, #container-id-12- > .last-child { margin-bottom: 0px !important; }

#container-id-13- { justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0); padding: 0px; flex-direction: column; }

#container-id-13- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-13- > :last-child, #container-id-13- > .last-child { margin-bottom: 0px !important; }

#container-id-15- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-15- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-15- > :last-child, #container-id-15- > .last-child { margin-bottom: 0px !important; }

#container-id-16- { padding: 80px; background-color: rgba(0, 0, 0, 0); flex-direction: row; }

#container-id-16- > * { max-width: 100%; margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-16- > :last-child, #container-id-16- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-17- { margin: unset; background-color: rgba(255, 255, 255, 0); align-items: flex-start; justify-content: flex-start; min-height: auto; width: 360px; left: 119px; top: 675px; flex-direction: column; }

#container-id-17- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 18px !important; }

#container-id-17- > :last-child, #container-id-17- > .last-child { margin-bottom: 0px !important; }

#container-id-20- { background-color: rgba(0, 0, 0, 0); align-items: flex-start; padding: 80px; flex-direction: row; }

#container-id-20- > * { max-width: 100%; margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-20- > :last-child, #container-id-20- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-22- { justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0); padding: 40px 80px; flex-direction: column; }

#container-id-22- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-22- > :last-child, #container-id-22- > .last-child { margin-bottom: 0px !important; }

#container-id-3- { min-height: auto; margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; justify-content: flex-start; align-items: flex-start; left: 0px; flex-direction: column; }

#container-id-3- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 18px !important; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-30- { margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; align-items: flex-start; justify-content: flex-start; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-30- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-30- > :last-child, #container-id-30- > .last-child { margin-bottom: 0px !important; }

#container-id-35- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; flex-direction: column; }

#container-id-35- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-35- > :last-child, #container-id-35- > .last-child { margin-bottom: 0px !important; }

#container-id-4- { min-height: 34px; margin: unset; background-color: rgba(238, 238, 238, 0); align-items: center; justify-content: flex-end; width: auto; flex-direction: row; }

#container-id-4- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-48- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: unset; min-height: auto; left: 0px; top: 908px; flex-direction: column; }

#container-id-48- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-48- > :last-child, #container-id-48- > .last-child { margin-bottom: 0px !important; }

#container-id-53- { margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; justify-content: flex-start; width: 120px; min-height: auto; flex-direction: column; }

#container-id-53- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-53- > :last-child, #container-id-53- > .last-child { margin-bottom: 0px !important; }

#container-id-6- { align-items: center; padding: 0px 80px; justify-content: space-between; flex-direction: row; background-color: rgba(0, 0, 0, 0); }

#container-id-6- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-6- > :last-child, #container-id-6- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-68- { margin: unset; justify-content: space-between; width: 100%; background-color: rgba(238, 238, 238, 0); min-height: auto; left: 0px; top: 988px; flex-direction: row; }

#container-id-68- > * { max-width: 100%; }

#container-id-75- { background-color: rgba(0, 0, 0, 0); padding: 80px; flex-direction: row; }

#container-id-75- > * { max-width: 100%; margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-75- > :last-child, #container-id-75- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-76- { margin: unset; background-color: rgba(255, 255, 255, 0); align-items: flex-start; justify-content: flex-start; min-height: auto; width: 360px; left: 119px; top: 675px; flex-direction: column; }

#container-id-76- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 18px !important; }

#container-id-76- > :last-child, #container-id-76- > .last-child { margin-bottom: 0px !important; }

#container-id-8- { align-items: center; background-color: rgba(0, 0, 0, 0); padding: 32px 80px; justify-content: flex-start; flex-direction: row; }

#container-id-8- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-8- > :last-child, #container-id-8- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-9- { margin: unset; width: 100%; justify-content: flex-start; align-items: center; background-color: rgba(255, 255, 255, 0); flex-direction: column; }

#container-id-9- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 8px !important; }

#container-id-9- > :last-child, #container-id-9- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { padding-top: 0px; background-repeat: repeat; gap: 0px; flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#content-container > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-1- { width: 100%; }

#element-id-10- { width: 100%; }

#element-id-4- { width: 100%; }

#element-id-5- { width: 100%; }

#element-id-7- { width: 100%; }

#image-id-0- { margin: unset; background-color: rgba(235, 235, 235, 0); width: auto; min-height: auto; border-radius: 100px; border-width: 10px; border-color: rgb(254, 246, 246); border-style: none; }

#image-id-1- { margin: unset; background-color: rgba(221, 221, 221, 0); left: 876px; top: 912px; border-radius: 0px; width: 125px; min-height: auto; }

#image-id-2- { margin: unset; width: 153px; left: 0px; background-color: rgba(221, 221, 221, 0); border-style: solid; border-width: 1px; min-height: auto; }

#image-id-3- { margin: unset; width: 262px; background-color: rgba(221, 221, 221, 0); min-height: auto; border-style: solid; border-width: 1px; }

#image-id-5- { margin: unset; top: -50px; background-color: rgba(221, 221, 221, 0); width: 129.6px; min-height: auto; }

#menu-id-0- { margin: unset; width: 100%; background-color: rgb(255, 255, 255); min-height: 88px; 
  top: 0;}

#menu-id-0- > * { max-width: 1320px; }

#root-container { background-position: center center; background-size: auto; background-repeat: repeat; }

#section-id-10- { margin: unset; min-height: 280px; background-color: rgb(24, 24, 24);
  width: 100%; }

#section-id-10- > * { max-width: 1320px; }

#section-id-18- { margin: unset; background-color: rgba(255, 255, 255, 0); width: 100%; min-height: 44px; }

#section-id-18- > * { max-width: 1320px; }

#section-id-19- { margin: unset; min-height: auto; background-color: rgb(248, 248, 248);
  width: 100%; }

#section-id-19- > * { max-width: 1320px; }

#section-id-20- { margin: unset; min-height: auto; background-color: rgb(248, 248, 248);
  width: 100%; }

#section-id-20- > * { max-width: 1320px; }

#section-id-34- { margin: unset; min-height: auto; background-color: rgba(255, 255, 255, 0);
  width: 100%; }

#section-id-34- > * { max-width: 1320px; }

#section-id-7- { margin: unset; background-color: rgba(255, 255, 255, 0);
  width: 100%; min-height: 440px; }

#section-id-7- > * { max-width: 1320px; }

#section-id-78- { margin: unset; min-height: auto; background-color: rgb(255, 255, 255);
  width: 100%; }

#section-id-78- > * { max-width: 1320px; }

#text-id-10- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 0px; width: 423px; letter-spacing: 0px; font-weight: 500; font-style: normal; font-size: 23px; line-height: 35px; }

#text-id-13- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; font-style: normal; color: rgb(0, 0, 0); font-size: 21px; letter-spacing: -0.3px; line-height: 31px; }

#text-id-16- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-2- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 376px; left: 0px; font-size: 40px; line-height: 48px; font-weight: 700; font-style: normal; letter-spacing: -1px; }

#text-id-24- { margin: unset; background-color: rgba(0, 0, 0, 0); }

#text-id-26- { margin: unset; background-color: rgba(0, 0, 0, 0); }

#text-id-29- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-4- { margin: unset; background-color: rgba(0, 0, 0, 0); }

#text-id-47- { margin: unset; background-color: rgba(0, 0, 0, 0); left: 165px; top: 880px; color: rgb(255, 255, 255); font-weight: 600; font-style: normal; }

#text-id-49- { margin: unset; background-color: rgba(0, 0, 0, 0); width: unset; left: 0px; font-size: 36px; letter-spacing: -1.2px; font-weight: 700; font-style: normal; line-height: 48px; }

#text-id-6- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 376px; font-size: 40px; line-height: 48px; font-weight: 700; font-style: normal; letter-spacing: -1px; }

#text-id-70- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

#text-id-8- { margin: unset; background-color: rgba(0, 0, 0, 0); width: 376px; font-size: 40px; line-height: 48px; font-weight: 700; font-style: normal; letter-spacing: -1px; }

#text-id-9- { margin: unset; background-color: rgba(0, 0, 0, 0); width: auto; left: 0px; font-size: 68px; line-height: 74px; letter-spacing: -3.5px; font-weight: 800; font-style: normal; }

[data-element-type] { font-size: 19px; font-weight: 500; font-style: normal; letter-spacing: -0.16px; line-height: 29px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#root-container { background-image: linear-gradient(90deg, rgb(26, 224, 191) 12%, rgb(255, 184, 184) 77%); }

@media (min-width:1025px) {#container-id-0- { flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-1- { flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-16- > * { flex-grow: 1; }

#container-id-17- { flex-grow: 0 !important; flex-shrink: 0 !important; }

#container-id-20- > * { flex-grow: 1; }

#container-id-4- { min-height: 42px; }

#container-id-75- > * { flex-grow: 1; }

#container-id-76- { flex-grow: 0 !important; flex-shrink: 0 !important; }

#content-container { display: flex; }

#menu-id-0- { position: sticky; }

#root-container { background-position: center center; }

#section-id-7- > * { flex-grow: 1; }

#text-id-49- { flex-grow: 0 !important; flex-shrink: 0 !important; }}

@media (min-width:641px) and (max-width:1024px) {#button-id-10- { padding: 16px 30px; }

#button-id-2- { padding: 16px 30px; }

#container-id-0- { width: 100%; align-items: center; flex-direction: column; }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-right: 0px !important; }

#container-id-1- { width: 160px; flex-direction: column; }

#container-id-1- > * { max-width: 100%; }

#container-id-11- { padding: 80px 56px; flex-direction: column; }

#container-id-11- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-11- > :last-child, #container-id-11- > .last-child { margin-bottom: 0px !important; }

#container-id-12- { flex-direction: column; }

#container-id-12- > * { max-width: 100%; }

#container-id-13- { justify-content: center; align-items: center; padding: 0px; flex-direction: column; }

#container-id-13- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-13- > :last-child, #container-id-13- > .last-child { margin-bottom: 0px !important; margin-right: 0px !important; }

#container-id-15- { flex-direction: column; }

#container-id-15- > * { max-width: 100%; }

#container-id-16- { padding: 48px 56px; flex-direction: row; }

#container-id-16- > * { flex-grow: 1; max-width: 100%; }

#container-id-17- { width: 160px; flex-direction: column; }

#container-id-17- > * { max-width: 100%; }

#container-id-20- { padding: 48px 56px; flex-direction: row; }

#container-id-20- > * { flex-grow: 1; max-width: 100%; }

#container-id-22- { justify-content: center; align-items: center; padding: 40px 56px; flex-direction: column; }

#container-id-22- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-22- > :last-child, #container-id-22- > .last-child { margin-bottom: 0px !important; margin-right: 0px !important; }

#container-id-3- { align-items: center; flex-direction: column; }

#container-id-3- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; }

#container-id-30- { flex-direction: column; }

#container-id-30- > * { max-width: 100%; }

#container-id-35- { flex-direction: column; }

#container-id-35- > * { max-width: 100%; }

#container-id-4- { width: auto; flex-direction: row; }

#container-id-4- > * { max-width: 100%; margin-right: 40px !important; margin-bottom: 0px !important; }

#container-id-4- > :last-child, #container-id-4- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-48- { flex-direction: column; }

#container-id-48- > * { max-width: 100%; }

#container-id-53- { flex-direction: column; }

#container-id-53- > * { max-width: 100%; }

#container-id-6- { padding: 0px 56px; flex-direction: row; }

#container-id-6- > * { max-width: 100%; }

#container-id-68- { flex-direction: row; }

#container-id-68- > * { max-width: 100%; }

#container-id-75- { padding: 48px 56px; flex-direction: row; }

#container-id-75- > * { flex-grow: 1; max-width: 100%; }

#container-id-76- { width: 160px; flex-direction: column; }

#container-id-76- > * { max-width: 100%; }

#container-id-8- { justify-content: flex-start; padding: 24px 56px; align-items: center; flex-direction: column; }

#container-id-8- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 40px !important; }

#container-id-8- > :last-child, #container-id-8- > .last-child { margin-bottom: 0px !important; }

#container-id-9- { flex-direction: column; }

#container-id-9- > * { max-width: 100%; }

#content-container { align-items: flex-start; justify-content: flex-start; flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#image-id-0- { width: 580px; }

#image-id-2- { left: 0px; }

#text-id-10- { text-align: center; }

#text-id-13- { line-height: 26px; }

#text-id-2- { text-align: left; width: 288px; letter-spacing: -0.4px; font-size: 32px; line-height: 38px; font-weight: 700; font-style: normal; }

#text-id-24- { line-height: 26px; }

#text-id-26- { line-height: 26px; }

#text-id-4- { line-height: 26px; }

#text-id-49- { text-align: center; width: 610px; line-height: 43.4286px; font-size: 32px; letter-spacing: -0.4px; }

#text-id-6- { text-align: left; width: 288px; letter-spacing: -0.4px; font-size: 32px; line-height: 38px; font-weight: 700; font-style: normal; }

#text-id-8- { text-align: left; width: 288px; letter-spacing: -0.4px; font-size: 32px; line-height: 38px; font-weight: 700; font-style: normal; }

#text-id-9- { text-align: center; font-size: 64px; width: 546px; font-style: normal; letter-spacing: -3px; font-weight: 800; line-height: 68px; }}

@media (max-width:640px) {#button-id-10- { min-height: 16px; letter-spacing: 0px; line-height: 15px; font-size: 15px; padding: 16px 30px; }

#button-id-2- { min-height: 16px; letter-spacing: 0px; line-height: 15px; font-size: 15px; padding: 16px 30px; }

#button-id-4- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#button-id-7- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#button-id-9- { letter-spacing: -0.4px; line-height: 22px; font-size: 20px; display: none; }

#container-id-0- { width: 100%; align-items: center; padding: 16px 0px; flex-direction: column; }

#container-id-0- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 22px !important; }

#container-id-0- > :last-child, #container-id-0- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-1- { width: 100%; justify-content: center; min-height: auto; left: 0px; flex-direction: column; }

#container-id-1- > * { max-width: 100%; }

#container-id-11- { align-items: center; padding: 80px 24px; flex-direction: column; }

#container-id-11- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 56px !important; }

#container-id-11- > :last-child, #container-id-11- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-12- { align-items: center; flex-direction: column; }

#container-id-12- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-12- > :last-child, #container-id-12- > .last-child { margin-right: 0px !important; }

#container-id-13- { justify-content: center; align-items: center; padding: 0px; flex-direction: column; }

#container-id-13- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-13- > :last-child, #container-id-13- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-15- { align-items: center; flex-direction: column; }

#container-id-15- > * { max-width: 100%; }

#container-id-16- { align-items: flex-start; justify-content: flex-start; padding: 32px 28px; flex-direction: column; }

#container-id-16- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-16- > :last-child, #container-id-16- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-17- { width: 100%; justify-content: flex-start; min-height: auto; left: 0px; flex-direction: column; }

#container-id-17- > * { max-width: 100%; }

#container-id-20- { align-items: flex-start; justify-content: flex-start; padding: 32px 28px; flex-direction: column; }

#container-id-20- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-20- > :last-child, #container-id-20- > .last-child { margin-bottom: 0px !important; }

#container-id-22- { justify-content: center; align-items: center; padding: 40px 28px; flex-direction: column; }

#container-id-22- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-22- > :last-child, #container-id-22- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- { align-items: center; flex-direction: column; }

#container-id-3- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 16px !important; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-30- { align-items: center; min-height: auto; flex-direction: column; }

#container-id-30- > * { max-width: 100%; }

#container-id-35- { align-items: center; flex-direction: column; }

#container-id-35- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-35- > :last-child, #container-id-35- > .last-child { margin-right: 0px !important; }

#container-id-4- { width: auto; flex-direction: row; }

#container-id-4- > * { max-width: 100%; }

#container-id-48- { align-items: center; flex-direction: column; }

#container-id-48- > * { max-width: 100%; }

#container-id-53- { align-items: center; flex-direction: column; }

#container-id-53- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-53- > :last-child, #container-id-53- > .last-child { margin-right: 0px !important; }

#container-id-6- { padding: 0px 28px; flex-direction: row; }

#container-id-6- > * { max-width: 100%; margin-right: 28px !important; margin-bottom: 0px !important; }

#container-id-6- > :last-child, #container-id-6- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-68- { justify-content: flex-start; align-items: center; flex-direction: column; }

#container-id-68- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 48px !important; }

#container-id-68- > :last-child, #container-id-68- > .last-child { margin-bottom: 0px !important; }

#container-id-75- { align-items: flex-start; justify-content: flex-start; padding: 32px 28px; flex-direction: column; }

#container-id-75- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-75- > :last-child, #container-id-75- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-76- { width: 100%; justify-content: flex-start; min-height: auto; left: 0px; flex-direction: column; }

#container-id-76- > * { max-width: 100%; }

#container-id-8- { align-items: flex-start; justify-content: flex-start; padding: 4px 28px; flex-direction: column; }

#container-id-8- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-8- > :last-child, #container-id-8- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-9- { flex-direction: column; }

#container-id-9- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 10px !important; }

#container-id-9- > :last-child, #container-id-9- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { align-items: flex-start; justify-content: flex-start; flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#image-id-0- { width: 100%; }

#image-id-1- { width: 100%; left: 0px; }

#image-id-2- { width: 100%; left: 0px; }

#image-id-3- { width: 100%; }

#section-id-18- { display: none; }

#text-id-10- { text-align: center; width: 329px; font-weight: 500; font-style: normal; letter-spacing: -0.222222px; font-size: 20px; line-height: 32px; }

#text-id-13- { font-weight: 500; font-style: normal; letter-spacing: -0.225px; font-size: 18px; text-align: center; width: 241px; line-height: 28px; }

#text-id-2- { width: 228px; text-align: left; font-size: 32px; font-weight: 700; font-style: normal; letter-spacing: -1px; line-height: 38px; }

#text-id-24- { font-weight: 500; font-style: normal; letter-spacing: -0.225px; font-size: 18px; line-height: 28px; }

#text-id-26- { font-weight: 500; font-style: normal; letter-spacing: -0.225px; font-size: 18px; line-height: 28px; }

#text-id-4- { font-weight: 500; font-style: normal; letter-spacing: -0.225px; font-size: 18px; line-height: 28px; }

#text-id-49- { text-align: center; font-weight: 700; font-style: normal; letter-spacing: -1.14286px; font-size: 32px; width: 287px; line-height: 42px; }

#text-id-6- { width: 228px; text-align: left; font-size: 32px; font-weight: 700; font-style: normal; letter-spacing: -1px; line-height: 38px; }

#text-id-70- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }

#text-id-8- { width: 228px; text-align: left; font-size: 32px; font-weight: 700; font-style: normal; letter-spacing: -1px; line-height: 38px; }

#text-id-9- { text-align: center; font-weight: 800; font-style: normal; width: auto; letter-spacing: -2.73684px; line-height: 56.3334px; font-size: 52px; }}